@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer components {
  .hamburger-menu {
    @apply flex flex-col justify-between cursor-pointer w-7 h-6;
  }
  .bar {
    @apply w-full h-[2px] bg-black transition-transform duration-300;
  }
  .change .bar:nth-child(1) {
    transform: translateY(11px) rotate(-45deg);
  }
  .change .bar:nth-child(2) {
    opacity: 0;
  }
  .change .bar:nth-child(3) {
    transform: translateY(-11px) rotate(45deg);
  }
}
